.container-shop {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  column-gap: 16px;
  row-gap: 40px;
}

.container-uvod {
  max-width: 1500px;
  margin: 0 auto;
  padding: 20px;

}

@media (max-width: 1000px) and (min-width:701px) {
  .container-shop {
    grid-template-columns: 1fr 1fr;
  }

  .hero h2 {
    font-size: 40px;
  }

}

@media(min-width:1001px) {
  .container-shop {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero h2 {
    font-size: 50px;
  }

}

@media (max-width: 700px) {
  .container-shop {
    grid-template-columns: 1fr;
  }
}

.icon-cart {
  font-size: 25px;
}









.hero {
  text-align: center;
  margin-top: 160px;
  background-color: #eee;
  padding: 10px 0;
  border: 1px gray solid;
  margin-left: 10%;
  margin-right: 10%;
}

.hero h2 {

  margin-bottom: 20px;
}



.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.product {
  width: 250px;
  margin: 10px;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product img {
  width: 100%;
  margin-bottom: 10px;
}

.button {
  background-color: #dc143c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.5s;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 1px 5px 8px rgba(255, 0, 0, 0.384);
}

.button:hover {
  background-color: #000000;
  color: rgb(255, 255, 255);
  box-shadow: 1px 5px 8px rgba(0, 0, 0, 0.384);
}

.product a {
  text-decoration: none;
  color: black;
}

.product::after {
  text-decoration: none;
  color: black;
}

.product::before {
  text-decoration: none;
  color: black;
}