body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin: 50px 150px;
    background-color: #ffffff;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 5px;
}

.product-image {
    width: 150px;
    height: 150px;
    border: 1px rgb(209, 209, 209) solid;
}

.product-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-details {
    background-color: #eee;
    padding: 10px;
    border-radius: 5px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.btn {
    background-color: #dc143c;
    ;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .product {
        flex-direction: column;
    }

    .product-info {
        align-items: center;
    }

    .product-details {
        font-size: 13px;
    }

    .container {

        margin: 10px 40px;
    }
}
@media (min-width:500px) and (max-width: 900px) {
    .product {
        flex-direction: column;
    }

    .product-info {
        align-items: center;
    }

    .product-details {
        font-size: 13px;
    }

    .container {

        margin: 20px 100px;
    }   
}

@media (min-width:900px) and (max-width:1300px) {

    .container {

        margin: 20px 130px;
    }

    .product-details {
        font-size: 13px;
    }
}
@media(min-width:1300px){
    .container{
        margin: 40px 380px;
    }
}