


.container-match {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
   
    column-gap: 16px;
    row-gap: 40px;
  }


  @media (max-width: 1000px) and (min-width:701px) {
    .container-shop {
      grid-template-columns: 1fr 1fr;
    }
    .hero h2{
      font-size: 40px;
    }
  
  }
  
  @media(min-width:1001px) {
    .container-shop {
      grid-template-columns: 1fr 1fr 1fr;
    }
    .hero h2{
      font-size: 50px;
    }
  
  }
  
  @media (max-width: 700px) {
    .container-shop {
      grid-template-columns: 1fr;
    }
  }

  
    .matches{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px 0;

  
  }
  
  .match {
    width: 250px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ddd;
    padding: 0px;
  
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  }
  .break{
    padding-top: 100px;
  }
  .date{
    color: gray;
    text-align: center; 
    font-size: 15px;
  }